<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">

<!-- Barre d'outils -->
<div class="sidenav">
    <div *ngFor='let tool of tools.toolList'>
        <app-drawing-tool [tool]="tool" (click)="onClick(tool)"></app-drawing-tool>
    </div>
    <div class="options">
        <a  href="javascript:void(0);"   (click)="warningNewDrawing()">
            <i class="fas fa-plus"></i> Nouveau Dessin
        </a>
        <a class="nonDisponible" href="javascript:void(0);">
            Ouvrir la galerie
        </a>
        <a class="nonDisponible" href="javascript:void(0);">
            Sauvergarder le dessin
        </a>
        <a class="nonDisponible" href="javascript:void(0);">
            Exporter le dessin
        </a>
        <a  href="javascript:void(0);"   (click)="openGridWindow()">
            <i class="fas fa-border-all"></i> Options de grille
        </a>
        <a [routerLink]="['/guide']">
            <i class="fas fa-question"></i> Guide d'utilisation
        </a>
    </div>
</div>

<!-- Panneau d'attributs -->
<div class="attributs-panel">
    <i class="fas fa-sliders-h"></i> 
    <form method="POST" action="javascript:void(0);">
        <div *ngFor="let parameter of tools.activeTool.parameters">

            <div *ngIf="parameter.type == 'invisible'"></div>

            <!-- Le paramètre est un 'select' avec plusieurs options -->
            <div *ngIf="parameter.type == 'select'">
                <label [for]="parameter.name">{{parameter.name}}</label>
                <select [name]="parameter.name" (change)="selectChoice($event, parameter.name)">
                    <option *ngFor="let option of parameter.options" [value]="option">{{option}}</option>
                </select>
            </div>

            <!-- Le paramètre est un champ à entrer -->
            <div *ngIf="parameter.type == 'number'">
                <label [for]="parameter.name">{{parameter.name}}</label>
                <input [type]="parameter.type" [name]="parameter.name"
                       [min]="parameter.min" [max]="parameter.max" [value]="parameter.value"
                       (change)="onChange($event, parameter.name, parameter.min, parameter.max)"
                       (focus)="disableShortcuts()" (blur)="enableShortcuts()"/>
            </div>

        </div>
        <br />
        <div class="annuler-refaire">
            <a *ngIf="commands.executedCommands.length > 0; else annulerNonDisponible"
                    mat-stroked-button (click)="commands.cancelCommand()">Annuler</a>
            <ng-template #annulerNonDisponible>
                <a mat-stroked-button class="nonDisponible">Annuler</a>
            </ng-template>
            <a *ngIf="commands.cancelledCommands.length > 0; else refaireNonDisponible"
                mat-stroked-button (click)="commands.redoCommand()">Refaire</a>
            <ng-template #refaireNonDisponible>
                <a mat-stroked-button class="nonDisponible">Refaire</a>
            </ng-template>
        </div>
        <br />
        <div class="boutons-couleur">
            Couleur primaire
            <button [ngStyle]= "{'background-color': colorParameter.getPrimaryColor() || 'white'}" 
                    (click)="selectColor('primary')"></button>
            <br />
            <div class="selection-opacite">
                <label for="opacite-principale">Opacité: </label>
                <input type="range" name="opacite-principale" min="0" max="1" step="0.01"
                       [value]="colorParameter.primaryOpacity"
                       (input)="applyPrimaryOpacity($event)" />
                {{colorParameter.primaryOpacityDisplayed}}%
            </div>
            <button mat-stroked-button (click)="colorParameter.intervertColors()">intervertir</button>
            <br />
            Couleur secondaire
            <button [ngStyle]= "{'background-color': colorParameter.getSecondaryColor() || 'white'}"
                    (click)="selectColor('secondary')"></button>
            <div class="selection-opacite">
                <label for="opacite-secondaire">Opacité: </label>
                <input type="range" name="opacite-secondaire" min="0" max="1" step="0.01"
                       [value]="colorParameter.secondaryOpacity"
                       (input)="applySecondaryOpacity($event)" />
                {{colorParameter.secondaryOpacityDisplayed}}%
            </div>
            <br />
            <div *ngIf="colorParameter.lastColors.length > 0" class="dernieres-couleurs">
                Dernières couleurs utilisées
                <br />
                <button *ngFor="let derniereCouleur of colorParameter.lastColors"
                        [ngStyle]= "{'background-color': derniereCouleur + '1)' || 'white'}" 
                        (click)="selectPreviousPrimaryColor(derniereCouleur)"
                        (contextmenu)="selectPreviousSecondaryColor(derniereCouleur, $event)">
                </button>
            </div>
            <div class="couleur-fond"> 
                Couleur de fond
                <button [ngStyle]= "{'background-color': drawingManager.backgroundColor || 'white'}" 
                        (click)="selectColor('background')"></button>
            </div>
        </div>
    </form>
</div>