<!-- Barre d'outils -->
<div class="sidenav">
    <div *ngFor='let outil of outils'>
        <app-outil-dessin [outil]="outil" (notification)="onNotify($event)"></app-outil-dessin>
    </div>
    <a [routerLink]="['/guide']">
        Guide d'utilisation
    </a>
</div>

<!-- Panneau d'attributs -->
<div class="panneau-attributs">
    Paramètres de l'outil
    <form method="POST" action="javascript:void(0);">
        <div *ngFor="let parametre of outilActif.parametres">

            <!-- Le paramètre est un 'select' avec plusieurs options -->
            <div *ngIf="parametre.type == 'select'; else elseBlock">
                <label [for]="parametre.nom">{{parametre.nom}}</label>
                <select [name]="parametre.nom">
                    <option *ngFor="let option of parametre.options" [value]="option">{{option}}</option>
                </select>
            </div>

            <!-- Le paramètre est un champ à entrer -->
            <ng-template #elseBlock>
                <label [for]="parametre.nom">{{parametre.nom}}</label>
                <input [type]="parametre.type" [name]="parametre.nom" min="0" max="100" value="5" />
            </ng-template>
        </div>
    </form>
</div>