<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">

<!-- Barre d'outils -->
<div class="sidenav">
    <div *ngFor='let outil of outils.listeOutils'>
        <app-outil-dessin [outil]="outil" (click)="onClick(outil)"></app-outil-dessin>
    </div>
    <div class="options">
        <a  href="javascript:void(0);"   (click)="avertissementNouveauDessin()">
            <i class="fas fa-plus"></i> Nouveau Dessin
        </a>
        <a class="nonDisponible" href="javascript:void(0);">
            Ouvrir la galerie
        </a>
        <a class="nonDisponible" href="javascript:void(0);">
            Sauvergarder le dessin
        </a>
        <a class="nonDisponible" href="javascript:void(0);">
            Exporter le dessin
        </a>
        <a [routerLink]="['/guide']">
            <i class="fas fa-question"></i> Guide d'utilisation
        </a>
    </div>
</div>

<!-- Panneau d'attributs -->
<div class="panneau-attributs">
    <i class="fas fa-sliders-h"></i> 
    <form method="POST" action="javascript:void(0);">
        <div *ngFor="let parametre of outils.outilActif.parametres">

            <!-- Le paramètre est un 'select' avec plusieurs options -->
            <div *ngIf="parametre.type == 'select'; else elseBlock">
                <label [for]="parametre.nom">{{parametre.nom}}</label>
                <select [name]="parametre.nom" (change)="onSelect($event, parametre.nom)">
                    <option *ngFor="let option of parametre.options" [value]="option">{{option}}</option>
                </select>
            </div>

            <!-- Le paramètre est un champ à entrer -->
            <ng-template #elseBlock>
                <label [for]="parametre.nom">{{parametre.nom}}</label>
                <input [type]="parametre.type" [name]="parametre.nom" min="1" max="100" [value]="parametre.valeur"
                       (change)="onChange($event, parametre.nom)"  (focus)="onChampFocus()" (blur)="onChampBlur()"/>
            </ng-template>

        </div>
        <br />
        <div class="boutons-couleur">
            Couleur primaire
            <button [ngStyle]= "{'background-color': couleur.getCouleurPrincipale() || 'white'}" 
                    (click)="selectionCouleur('principale')"></button>
            <br />
            <div class="selection-opacite">
                <label for="opacite-principale">Opacité: </label>
                <input type="range" name="opacite-principale" min="0" max="1" step="0.01"
                       [value]="couleur.opacitePrincipale"
                       (input)="appliquerOpacitePrincipale($event)" />
                {{couleur.opacitePrincipaleAffichee}}%
            </div>
            <button mat-stroked-button (click)="couleur.intervertirCouleurs()">intervertir</button>
            <br />
            Couleur secondaire
            <button [ngStyle]= "{'background-color': couleur.getCouleurSecondaire() || 'white'}"
                    (click)="selectionCouleur('secondaire')"></button>
            <div class="selection-opacite">
                <label for="opacite-secondaire">Opacité: </label>
                <input type="range" name="opacite-secondaire" min="0" max="1" step="0.01"
                       [value]="couleur.opaciteSecondaire"
                       (input)="appliquerOpaciteSecondaire($event)" />
                {{couleur.opaciteSecondaireAffichee}}%
            </div>
            <br />
            <div *ngIf="couleur.dernieresCouleurs.length > 0" class="dernieres-couleurs">
                Dernières couleurs utilisées
                <br />
                <button *ngFor="let derniereCouleur of couleur.dernieresCouleurs"
                        [ngStyle]= "{'background-color': derniereCouleur + '1)' || 'white'}" 
                        (click)="selectionDerniereCouleurPrimaire(derniereCouleur)"
                        (contextmenu)="selectionDerniereCouleurSecondaire(derniereCouleur, $event)">
                </button>
            </div>
            <div class="couleur-fond"> 
                Couleur de fond
                <button [ngStyle]= "{'background-color': couleur.couleurFond || 'white'}" 
                        (click)="selectionCouleur('fond')"></button>
            </div>
        </div>
    </form>
</div>