
.select-color {
    height: 40px;
    width: 40px;
}

.color {
    text-align: center;
}

.alignmentButton {
    text-align: center;
}

.sizing {
    margin: 20px;
    font-size: 25px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    padding-top: 15px;
    padding-bottom: 15px;
}

.newDrawing {
    color: white;
}


h1{
    text-align: center;
    font-size: 35px;
}

h2 {
    text-align: center;
    font-size: 35px;
}

button{
    background-color: #C5CBE3;
    margin: 20px;
}
button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

label{
    margin-right: 20px;  
}

form{
    grid-template-columns: auto;
}

.invalid {
    border:3px solid red;
}

