
.select-color {
    height: 40px;
    width: 40px;
}

.color {
    text-align: center;
}

.alignmentButton {
    text-align: center;
}

.sizing {
    margin: 20px;
    font-size: 25px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.newDrawing {
    color: white;
}


h1{
    text-align: center;
    font-size: 35px;
}

h2 {
    text-align: center;
    font-size: 35px;
}

label{
    margin-right: 20px;  
}

form{
    grid-template-columns: auto;
}

.invalid {
    border:3px solid red;
}

