textarea {
    outline : none;
    margin : 10px;
    resize : none;
    width : 40px;
    height : 17px;
}

.hex {
    width: 3ch;
}

input {
    margin-right: 10px;
}

label {
    font-size: 20px;
}