:host { 
    display: block;
    width: 325px;
    padding: 16px;
    background-color: rgb(45, 45, 70);
    color: lightcyan;
}

.color-wrapper{
    display: flex;
    height: 250px;
}

 .input-wrapper {
    margin-top: 16px;
    display: flex;
    border-radius: 1px;
    border: 1px solid rgb(220, 220, 220);
    padding: 10px;
    height: 32px;
    width : 300px;
    justify-content: center;
} 

 .color-div {
    width: 32px;
    height: 32px;
    border-radius:50%;
    border: 1px solid rgb(220,220,220)
} 

.text{
    flex:1;
    font-family:'Helvetica';
    line-height: 32px;
}

button {
    margin-left: 10px;
}

app-color-slider {
    margin-left: 16px;
}