<svg class="vue-dessin" [attr.width.px]="gestionnaireDessin.longueur" [attr.height.px]="gestionnaireDessin.hauteur" [attr.width.px]="gestionnaireDessin.largeur" version="1.1" xlmns="http://www.w3.org/2000/svg">
    
    <defs>
        <!-- Texture provenant de Developpeur Modzilla-->

        <!-- https://developer.mozilla.org/fr/docs/Web/SVG/Element/feGaussianBlur -->
        <filter id="Flou">
            <feGaussianBlur in="SourceGraphic" stdDeviation="2" />
        </filter>

        <!-- https://developer.mozilla.org/fr/docs/Web/SVG/Element/feOffset -->
        <filter id="Offset" x="-40" y="-20" width="100" height="200">
            <feOffset in="SourceGraphic" dx="60" dy="60" />
            <feGaussianBlur in="SourceGraphic" stdDeviation="5" result="blur2" />
            <feMerge>
                <feMergeNode in="blur2" />
                <feMergeNode in="SourceGraphic" />
            </feMerge>
        </filter>

        <!-- https://developer.mozilla.org/fr/docs/Web/SVG/Element/feTurbulence -->
        <filter id="Turbulence">
            <feTurbulence type="turbulence" baseFrequency="0.2"
                numOctaves="5" result="turbulence"/>
            <feDisplacementMap in2="turbulence" in="SourceGraphic"
                scale="50" xChannelSelector="R" yChannelSelector="G"/>
        </filter>

        <filter id="Turbulence2">
                <feTurbulence type="turbulence" baseFrequency="9"
                    numOctaves="2" result="turbulence"/>
                <feDisplacementMap in2="turbulence" in="SourceGraphic"
                    scale="50" xChannelSelector="R" yChannelSelector="G"/>
        </filter>


        <!-- https://developer.mozilla.org/fr/docs/Web/SVG/Element/feDropShadow -->
        <filter id="Ombre">
            <feDropShadow dx="4" dy="8" stdDeviation="4"/>
            <feGaussianBlur in="SourceGraphic" stdDeviation="1" />
          </filter>

    </defs>
    
    <rect x="0" y="0" [attr.width.px]="gestionnaireDessin.longueur" [attr.height.px]="gestionnaireDessin.hauteur" [attr.width.px]="gestionnaireDessin.largeur" [attr.fill]="gestionnaireDessin.couleur" />
    <g *ngFor="let SVG of stockage.getSVGComplets() | keyvalue;" [innerHTML]="SVG.value"></g>
    <g [innerHTML]="stockage.getSVGEnCoursHTML()"></g>
    <g [innerHTML]="stockage.getPerimetreEnCoursHTML()"></g>
</svg>
