<div class="homePage">
    <h1>Bienvenue sur PolyDessin !</h1>

    <div class="buttons">
        <button mat-stroked-button (click)="createDrawing()" >Nouveau dessin</button>
        <button mat-stroked-button (click)="openGallery()">Ouvrir la galerie</button>
        <button [routerLink]="['/guide']" mat-stroked-button>Afficher le guide d'utilisation</button>
        <button [disabled]="localSaving.isStorageEmpty()" (click)="loadDrawing()" mat-stroked-button >Continuer un dessin</button>
    </div>
</div>