<h1>Voulez-vous sauvegarder le dessin sur le serveur ?</h1>
<form>
    <label>Nom du dessin:
        <input type="text" maxlength="15" [formControl]="name" [className]="isNameValid ? '' : 'invalid'">
        <label *ngIf="!isNameValid"> Le nom ne peut pas être vide !</label>
    </label>
</form>
<form>
    <label>Entrez une étiquette:
        <input type="text" maxlength="15" [formControl]="tag" [className]="isTagValid ? '' : 'invalid'">
        <label *ngIf="!isTagValid"> L'étiquette ne peut pas être vide !</label>
    </label>
    <button mat-stroked-button (click)="addTag()" style="float: right;">Ajouter étiquette</button>
</form>
<div *ngFor="let tag of drawingParams.tags">
    <span>{{tag}}, </span> <i class="material-icons delete-button" (click)="deleteTag(tag)">cancel</i>
</div>
<button mat-raised-button [disabled]="isSaving" (click)="confirmSave()">Confirmer</button>
<button mat-stroked-button (click)="closeDialogue()">Annuler</button>