<app-toolbar></app-toolbar>

<div class="drawing-surface">
    <app-drawing-surface (click)="onClick($event)"
                        (dblclick)="onDblClick($event)"
                        (mousemove)="onMouseMove($event)"
                        (mouseup)="onMouseUp($event)"
                        (mousedown)="onMouseDown($event)"
                        (mouseleave)="onMouseLeave($event)"
                        (mouseenter)="onMouseEnter($event)"
                        (contextmenu)="onRightClick($event)">
    </app-drawing-surface>
</div>