<app-barre-outils></app-barre-outils>

<div class="zone-travail">
    <app-surface-dessin (click)="sourisCliquee($event)"
                        (mousemove)="sourisDeplacee($event)"
                        (mouseup)="sourisRelachee($event)"
                        (mousedown)="sourisEnfoncee($event)"
                        (mouseleave)="sourisSortie($event)"
                        (mouseenter)="sourisEntree"
                        (dblclick)="sourisDoubleClic($event)">

    </app-surface-dessin>
</div>