<div class="nouveauDessin">
<h1>Paramètres pour la création d'un nouveau dessin</h1>

<h2>Dimension canvas</h2>
<form [formGroup]="nouveauDessin">
<label>Hauteur: (pixels)
<input type="number" min = "0" (input)="dimmensionChangeeManuellement()" formControlName="hauteurFormulaire">
</label>
<label>Largeur: (pixels)
<input type="number" min = "0"  (input)="dimmensionChangeeManuellement()"  formControlName="largeurFormulaire">
</label>

<h2>Couleur d'Arrière-Plan</h2>
<button [ngStyle]= "{'background-color': colorParameter.backgroundColor || 'white'}" 
    (click)="selectionCouleur()" class="selection-couleur"></button>
</form>

<button mat-raised-button  (click)="validerNouveauDessin()">Créer</button>
<button  mat-stroked-button (click)="fermerFenetre()">Annuler</button>

</div>