<mat-dialog-content>
    <svg class="drawing-preview" [attr.width]="200" [attr.height]="200"
        [attr.viewBox]="'0 0 ' + drawing.width.toString() + ' ' + drawing.height.toString()">
        <defs>
            <!-- Texture libre de droit-->
    
            <!-- https://developer.mozilla.org/fr/docs/Web/SVG/Element/feGaussianBlur -->
            <filter id="filter1" filterUnits="userSpaceOnUse">
                <feGaussianBlur in="SourceGraphic" stdDeviation="2" />
            </filter>
    
            <!-- https://developer.mozilla.org/fr/docs/Web/SVG/Element/feOffset -->
            <filter id="filter2" filterUnits="userSpaceOnUse">
                <feOffset in="SourceGraphic" dx="60" dy="60" />
                <feGaussianBlur in="SourceGraphic" stdDeviation="3.5" result="blur1" />
                <feMerge>
                    <feMergeNode in="blur1" />
                    <feMergeNode in="SourceGraphic" />
                </feMerge>
            </filter>
    
            <!-- https://codepen.io/clovisneto/pen/MbBZEX-->
            <filter id="filter3" filterUnits="userSpaceOnUse">
                <feTurbulence baseFrequency="0.07" numOctaves="1" type="fractalNoise" seed="1" result="fractalNoise"></feTurbulence>
                <feDisplacementMap scale="20" in="SourceGraphic" xChannelSelector="R" yChannelSelector="G"></feDisplacementMap>
            </filter>
            
            <!-- https://developer.mozilla.org/fr/docs/Web/SVG/Element/feTurbulence -->
            <filter id="filter4" filterUnits="userSpaceOnUse">
                <feTurbulence baseFrequency="0.18" numOctaves="5" type="turbulence" seed="3" result="turbulence"/>
                <feDisplacementMap in="SourceGraphic" scale="8" xChannelSelector="G" yChannelSelector="R"/>
            </filter>
    
            <!-- https://developer.mozilla.org/fr/docs/Web/SVG/Element/feDropShadow -->
            <filter id="filter5" filterUnits="userSpaceOnUse">
                <feDropShadow dx="1.5" dy="20" stdDeviation="5"/>
            </filter>
        </defs>
        <rect [attr.width]="drawing.width" [attr.height]="drawing.height" [attr.fill]="drawing.backgroundColor" />
        <g [attr.filter]="getFilter()" *ngFor="let element of drawing.elements" [innerHtml]="sanatize(element.svg)" />
    </svg>
    <button mat-stroked-button (click)="export()">EXPORTER</button>
    <button mat-button (click)="close()">fermer</button>
    <div>
        <label for="format">Choisissez un format d'exporation :</label>
            <select id="format" (change)="updateSelectedFormat($event)">
                <option *ngFor="let format of EXPORT_FORMAT" [value]="format"> {{format}} </option>
            </select>
        
        <label for="filter">Choisissez un filtre d'exporation :</label>
            <select id="filter" (change)="updateSelectedFilter($event)">
                <option *ngFor="let filter of EXPORT_FILTER" [value]="filter"> {{filter}} </option>
            </select>

        <label for="name">Choisissez un nom de fichier :</label>
            <input id="name" type="text" (change)="updateFileName($event)" [value]="selectedFileName" />
    </div>

</mat-dialog-content>