<div class = "color-wrapper">
    <app-couleur-palette [gestionnaireCouleur]="gestionnaireCouleur"></app-couleur-palette>
    <app-glissiere-couleur [gestionnaireCouleur]="gestionnaireCouleur" style = "margin-left:16px"></app-glissiere-couleur>    
</div>
<div class="input-wrapper">
    <app-valeur-couleur [gestionnaireCouleur]="gestionnaireCouleur"></app-valeur-couleur>
    <div class ="color-div" 
        [ngStyle]= "{'background-color': gestionnaireCouleur.couleur || 'white'}">
    </div>
</div>
<div class="selection-opacite">
    <label for="opacite">Opacité: </label>
    <input type="range" name="opacite" min="0" max="1" value="1" step="0.01" (input)="appliquerOpacite($event)" />
    {{opaciteAffichee}}%
</div>
<button mat-stroked-button (click)="fermerFenetre()">Annuler</button>
<button mat-stroked-button (click)="appliquerCouleur()">Confirmer</button>