<div class = "color-wrapper">
    <app-couleur-palette [hue]="hue" (couleur)="color = $event"></app-couleur-palette>
    <app-glissiere-couleur (couleur)="hue = $event" style = "margin-left:16px"></app-glissiere-couleur> 
    <app-valeur-couleur [portee]="portee"></app-valeur-couleur>    
</div>
<div class="input-wrapper">
    <span class="text">{{color}}</span>
    <div class ="color-div" 
        [ngStyle]= "{'background-color': color || 'white'}">
        </div>
</div>
<br>
<div>
    <button mat-stroke-button >Cancel</button>
    <button mat-stroke-button >Submit</button>
</div>
