button{
    background-color: #C5CBE3;
    margin: 20px;
}

.warningDrawing {
    color: white;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  h1{
      text-align: center;
  }
  p{
      text-align: center;
  }

  .buttons{
      text-align: center;
  }