<div class="sidenav">
    <div>
        <button [routerLink]="[navigation.pagePrecedante]" mat-raised-button>Retour</button>
    </div>
    <div *ngFor = 'let sujet of sujets'>
        <app-guide-sujet [noeud]="sujet" (notification)="onNotify($event)"></app-guide-sujet>
    </div>
</div>

<div class="contenu">
    <div *ngIf="sujetActif" [innerHTML]="sujetActif.description"></div>
    <br>
    <div *ngIf="sujetActif" class="buttonDiv">
        <a *ngIf="sujetActif.precedant" id="boutonPrecedant" class="button" href="javascript:void(0);" (click)="onClick(-1)" >précédent</a>
        <a *ngIf="sujetActif.suivant" id="boutonSuivant" class="button" href="javascript:void(0);" (click)="onClick(1)">suivant</a>
    </div>
</div> 